In [1]:
import pandas as pd
import os
from pprint import pprint
import requests
import json
from config import api_key
import sys

In [2]:
#Made edits in excel, pulling back in
city_map= pd.read_csv("Resources/city_map.csv")
city_map = city_map.drop(columns=['Unnamed: 0'])
city_map = city_map.rename(columns={'0':'city_map_old'})
city_map = city_map.loc[(city_map['city_map_old']=='Johns Creek') | (city_map['city_map_old']=='St. Marys')
                        | (city_map['city_map_old']=='LaGrange')| (city_map['city_map_old']=='Peachtree Corners')]
city_map

         city_map_old
2         Johns Creek
9           St. Marys
11           LaGrange
13  Peachtree Corners

In [3]:
#Made edits in excel, pulling back in
census_cities= pd.read_csv("Resources/census_cities.csv")
census_cities = census_cities.drop(columns=['Unnamed: 0'])
census_cities = census_cities.rename(columns={'0':'census_cities_old'})
census_cities

    census_cities_old
0           Abbeville
1             Acworth
2         Adairsville
3                Adel
4              Adrian
..                ...
509             Wrens
510      Wrightsville
511        Yatesville
512      Young Harris
513           Zebulon

[514 rows x 1 columns]

In [4]:
# Assigning closeby cities
city_map['city_map_new'] = ''
city_map.loc[2,'city_map_new'] = 'Alpharetta'
city_map.loc[9,'city_map_new'] = 'Saint Marys'
city_map.loc[11,'city_map_new'] = 'Lagrange'
city_map.loc[13,'city_map_new'] = 'Roswell'

city_map

         city_map_old city_map_new
2         Johns Creek   Alpharetta
9           St. Marys  Saint Marys
11           LaGrange     Lagrange
13  Peachtree Corners      Roswell

In [5]:
# Drop file for consumption by another notebook
city_map = city_map.to_csv("Outputs/citi_map_v2.csv")