In [1]:
import pandas as pd
import os
from pprint import pprint
import requests
import json
from config import api_key
import sys

In [7]:
#Made edits in excel, pulling back in
clean_hospital= pd.read_csv("Cleaned_Hospitals_v7.csv")
clean_hospital = clean_hospital.drop(columns=['Unnamed: 0'])
clean_hospital

,Hospital name,City,County,Acute Care Beds,YearFounded,Affiliation,Notes,Place ID,Hospital Latitude,Hospital Longtitude,Street Address,State,Hospital Zip Code,Full Address,City Zip Code,City Latitude,City Longtitude,Median Income,Population,Joined
0,AdventHealth Gordon,Calhoun,Gordon County,69,NaN,AdventHealth,Formerly Gordon Hospital,ChIJfVjpjer9X4gRGK7NwGG_tbg,34.510205,-84.926304,1035 Red Bud Road Northeast,Georgia,30701.0,"1035 Red Bud Rd NE, Calhoun, GA 30701, USA",30702.0,34.487833,-84.850071,24110,40820,False
1,AdventHealth Murray,Chatsworth,Murray County,29,NaN,AdventHealth,Formerly Murray Medical Center,ChIJ-U0scjndX4gRG-FoXnNaHI4,34.779956,-84.783038,707 Old Dalton Ellijay Road,Georgia,30705.0,"707 Old Dalton Ellijay Rd, Chatsworth, GA 3070...",30705.0,34.753129,-84.775020,24457,33460,False
2,Archbold Memorial Hospital,Thomasville,Thomas County,264,1925,Archbold,NaN,ChIJsxblg8q17YgR8XXHSBDuObQ,30.825169,-83.972128,915 Gordon Avenue,Georgia,31792.0,"915 Gordon Ave, Thomasville, GA 31792, USA",31776.5,30.862504,-83.928812,22498,20703,False
3,Archbold - Brooks County Hospital,Quitman,Brooks County,25,NaN,Archbold,NaN,ChIJiyuklBp_7ogRmoGX5XNztMM,30.795039,-83.559146,903 North Court Street,Georgia,31643.0,"903 N Court St, Quitman, GA 31643, USA",31643.0,30.783639,-83.553430,24644,9062,False
4,Archbold - Mitchell County Hospital,Camilla,Mitchell County,25,NaN,Archbold,NaN,ChIJswuXyhic7YgRuk38qsPrYt4,31.229773,-84.205317,90 East Stephens Street,Georgia,31730.0,"90 E Stephens St, Camilla, GA 31730, USA",31730.0,31.209854,-84.236670,21584,8419,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
612,NaN,Wrens,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30833.0,33.200325,-82.376250,18634,3065,True
613,NaN,Wrightsville,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31096.0,32.717320,-82.689260,20232,7046,True
614,NaN,Yatesville,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31097.0,32.912207,-84.148120,27000,1656,True
615,NaN,Young Harris,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30582.0,34.954638,-83.864840,15867,5038,True
616,NaN,Zebulon,NaN,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30295.0,33.101705,-84.312520,31654,4352,True

In [31]:
hospital_count = clean_hospital.groupby[()'City')('Hospital name').count()
hospital_count

TypeError: 'DataFrameGroupBy' object is not callable

In [22]:
# hospital_count = hospital_count.loc[(hospital_count['Hospital name'] >= 0)]
# hospital_count
# census_cities = census_cities.loc[(census_cities['census_cities_old'] == 'Donalsonville')]

Empty DataFrame
Columns: [Hospital name, County, Acute Care Beds, YearFounded, Affiliation, Notes, Place ID, Hospital Latitude, Hospital Longtitude, Street Address, State, Hospital Zip Code, Full Address, City Zip Code, City Latitude, City Longtitude, Median Income, Population, Joined]
Index: []